<!-- detail-product.component.html -->
<main>
  <div class="container mt-4">
    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Quantity: {{ product.quantity }}</p>
          <p>Description: {{ product.description }}</p>
          <p>Like: {{ product.like }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="buy(product)" [disabled]="product.quantity === 0">Buy</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
