<main class="p-4">
  <div class="p-4 border">
    <form [formGroup]="apartForm" (submit)="logss()">
      <h1 class="mb-6">Apartment Form</h1>

      <div class="row mb-3">
        <label for="apartNum" class="col-sm-3 col-form-label">Apartment Number:</label>
        <div class="col-sm-8">
          <input type="number" formControlName="apartNum" class="mb-2 form-control" required>
          <mat-error *ngIf="apartForm.controls['apartNum'].touched && apartForm.get('apartNum')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
        </div>
      </div>

      <div class="row mb-3">
        <label for="floorNum" class="col-sm-3 form-label">Floor Number:</label>
        <div class="col-sm-8">
          <input type="number" class="mb-2 form-control" formControlName="floorNum">
          <mat-error *ngIf="apartForm.controls['floorNum'].touched && apartForm.get('floorNum')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
        </div>
      </div>

      <div class="row mb-3">
        <label for="floorNum" class="col-sm-3 form-label">Surface:</label>
        <div class="col-sm-8">
          <input type="number" class="mb-2 form-control" formControlName="surface">
          <mat-error *ngIf="apartForm.controls['floorNum'].touched && apartForm.get('surface')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3">Terrace:</label>
        <div class="d-flex flex-column col-sm-8">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="terrace" value="oui" formControlName="terrace">
            <label class="form-check-label" for="terraceYes">Yes</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="terrace" value="non" formControlName="terrace" checked>
            <label class="form-check-label" for="terraceNo">No</label>
          </div>
        </div>
      </div>

      <div class="row mb-3 hidden" [style.display]="apartForm.get('terrace')?.value !== 'oui' ? 'none' : 'flex'">
        <label for="surfaceTerrace" class="col-sm-3 form-label">Surface Terrace:</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" formControlName="surfaceTerrace">
          <mat-error
            *ngIf="apartForm.controls['surfaceTerrace'].touched && apartForm.get('apartNum')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 form-label">Category:</label>
        <div class="d-flex flex-column col-sm-8">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="s+1" formControlName="category" checked>
            <label class="form-check-label" for="s+1">S+1</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="s+2" formControlName="category">
            <label class="form-check-label" for="s+2">S+2</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="s+3" formControlName="category">
            <label class="form-check-label" for="s+3">S+3</label>
          </div>
        </div>
        <mat-error *ngIf="apartForm.controls['category'].touched && apartForm.get('category')?.hasError('required')">
          Ce champ est obligatoire.
        </mat-error>
      </div>

      <div class="row mb-3">
        <label for="description" class="col-sm-3 form-label">Description:</label>
        <div class="col-sm-8">
          <textarea class="form-control" formControlName="description"></textarea>
          <mat-error
            *ngIf="apartForm.controls['description'].touched && apartForm.get('description')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
          <mat-error
            *ngIf="apartForm.controls['description'].touched && apartForm.get('description')?.hasError('minlength')">
            La description doit contenir au moins 10 caractères.
          </mat-error>
        </div>
      </div>

      <div class="row mb-3">
        <label for="residence" class="col-sm-3 form-label">Residence:</label>
        <div class="col-sm-8">
          <select class="form-select" formControlName="residence">
            <option value="" disabled selected>Select Residence</option>
            <option *ngFor="let residence of residences" value="residence.id">{{ residence.name }}</option>
          </select>
          <mat-error
            *ngIf="apartForm.controls['residence'].touched && apartForm.get('residence')?.hasError('required')">
            Ce champ est obligatoire.
          </mat-error>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
          <button class="btn btn-primary me-4" type="submit" [disabled]="!apartForm.valid">Submit</button>
          <button class="btn border-danger">Reset</button>
        </div>
      </div>
    </form>
  </div>
</main>
