.logo{
  margin-right: 10px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}

.logo:hover{
  text-decoration: none !important;
  background-color: transparent !important;
}

.it-logo {
  color: gray;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #0b5ed7;
  color: #fff;
}
