<main class="p-3">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th class="text-center" mat-header-cell *matHeaderCellDef> ID </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Title </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.title}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Price </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Quantity </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="like">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Like </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.like}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Description </th>
      <td class="text-center" mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
      <td class="text-center" mat-cell *matCellDef="let product">
        <button mat-button color="primary" [routerLink]="['/product',product.id]">Details</button>
        <button mat-button color="primary" (click)="increment(product)">Like</button>
        <button mat-button color="primary" (click)="buy(product)" [disabled]="product.quantity==0">Buy</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</main>
